{% extends 'website/base.html' %}

{% block title %}Basket{% endblock %}

{% block body %}
<h1>Your basket:</h1>
<body>
{% if basket %}
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>State</th>
            <th>Option</th>
        </tr>
        {% for book in basket %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{book.get_book_state_display}}</td>
            <td><a href="{% url 'delete_basket' book_id=book.id %}">Remove from basket</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'map' %}">Checkout</a>
{% else %}
<p>You have no books in your basket!</p>
{% endif %}
</body>
{% endblock %}