{% extends 'website/base.html' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}
<info>
    <h1>{{ book.title }}</h1>
    {% if taking == 0%}
    <a href="{% url 'update_basket' book_id=book.id %}">Take book</a>
    {% elif taking == 1%}
    <a href="{% url 'update_basket' book_id=book.id %}">Return book</a>
        {% if master %}
        <br>
        <br>
        <a href="{% url 'delete_book' book_id=book.id%}">Delete book</a>
        {% endif %}
    {% else %}
    Book unavailable
    {% endif %}
</info>
{% endblock %}