{% extends 'website/base.html' %}
{% load static %}

{% block title %}{{ book.title }}{% endblock %}


{% block body %}
<info>
    <h1>{{ book.title }}</h1>
    {% if book.picture %}
    <p><img src="{% static 'book_pics/'|add:book.picture %}" alt=""></p>
    {% endif %}
    <p>{{ book.description}}</p>
    {% if taking == 0%}
    <p><a href="{% url 'update_basket' book_id=book.id %}"><button type="button" class="btn btn-success">Take book</button></a></p>
    {% elif taking == 1%}
    <p><a href="{% url 'update_basket' book_id=book.id %}"><button type="button" class="btn btn-success">Return book</button></a></p>
        {% if master %}
    <p><a href="{% url 'delete_book' book_id=book.id%}"><button type="button" class="btn btn-success">Delete book</button></a></p>
        {% endif %}
    {% else %}
    <div class="container">
    <div class="jumbotron">
    <a>Sorry, this book is <p class="text-danger">unavailable</p>.</a>
    {% endif %}
    </div>
    </div>
</info>
{% endblock %}
