{% extends 'website/base.html' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<body>
<h1>Welcome to the homepage</h1>

<form action="{% url 'homepage' %}" method="post">
{% csrf_token %}
    <p><searchbar>Search for a title or author:</searchbar>
        <br>
        <input type="text" name="search" value={{searched}}>
        <input type="submit" value="Search" />
    </p>

</form>

{% if book_list %}
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>State</th>
        </tr>
        {% for book in book_list %}
        <tr>
            <td><a href="{% url 'detail' book.title %}">{{ book.title }}</a></td>
            <td>{{ book.author }}</td>
            {% if book.book_state == 0 %}
                <td class="available">{{book.get_book_state_display}}</td>
            {% elif book.book_state == 1 or book.book_state == 3 %}
                <td class="interim">{{book.get_book_state_display}}</td>
            {% elif book.book_state == 2 %}
                <td class="taken">{{book.get_book_state_display}}</td>
            {% elif book.book_state == 4 %}
                <td class="reserved">{{book.get_book_state_display}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endif %}

</body>
{% endblock %}