<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Map page</title>
</head>

<body>
<h1>Map page</h1>

{% for book, section in basket %}
<strong>{{book.title}}</strong>
<br>
Section: {{ section }}<img src="/static/Section-A" class="img-rounded" height="100" alt="Library Map">
<br>
colour: {{ book.get_colour_display }} <br>
<br>
{%endfor%}

<a href="{% url 'leds' %}">Done</a>

</body>
</html>
