{% extends 'website/base.html' %}

{% block title %}Your books{% endblock %}

{% block body %}
<body>
<h1>Your books:</h1>

{% if book_list %}
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Time taken</th>
        </tr>
        {% for book in book_list %}
        <tr>
            <td><a href="{% url 'detail' book.title %}">{{ book.title }}</a></td>
            <td>{{ book.author }}</td>
            <td>{{book.last_taken}}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
<p>You have no books!</p>
{% endif %}

</body>
{% endblock %}