{% extends 'website/base.html' %}

{% block title %}Your books{% endblock %}

{% block body %}
<body>
<h1>Your books:</h1>

{% if book_list %}
    <ul>
        <li>Title <author>Author</author> <state>Available?</state></li> <br>
        {% for book in book_list %}
        <li><a href="{% url 'detail' book.title %}">{{ book.title }}</a>
            <author>{{ book.author }}</author>
            <state>{{ book.last_updated }}</state>
        </li>
        {% endfor%}
    </ul>
{% else %}
<p>You have no books!</p>
{% endif %}

</body>
{% endblock %}